    <div class="content_post">
        <div class="video-container">
        <% if tweet.video.attached? %>
          <video src="<%= rails_blob_path(tweet.video) %>" type="video/mp4" controls class="sample_video"></video>
        <% end %>
        </div>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', tweet_path(tweet.id) %>
          </li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <li>
              <%= link_to '編集', edit_tweet_path(tweet.id) %>
            </li>
            <li>
              <%= link_to '削除', tweet_path(tweet.id), data: { turbo_method: :delete } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="text-container">
      <p class="tweet-title"><%= image_tag("cman20231023152149797.png") %>  <%= tweet.title %></p>
      <p><%= image_tag("cman20231023152704290.png") %>  <%= tweet.category.category %></p>  
      <p class="tweet-text"><%= image_tag("cman20231023153013393.png") %></p>
      <P><%= tweet.text %></P>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>
    </div>